header{
    height: 15vh;
}

nav{
    background-color: #fff;
}
header a{
    color: lightgray;
    margin-left: 24px;
}
header a:hover{
    color: #000;
}

/*HERO*/
#hero-section{
    height: 70vh;
    margin-bottom: 15vh;
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* #green-box{
    position:inherit;
} */

#services{
    margin-bottom: 15vh;
}
 
