header{
    height: 15vh;
}

nav{
    background-color: #fff;
}
header a{
    color: lightgray;
    margin-left: 24px;
}
header a:hover{
    color: #000;
}

/*HERO*/
#wrapper{
    height: 75vh;
}
#hero-section{
    min-width: 100%;
    height: auto;
    margin-bottom: 15vh;
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}


/* #green-box{
    margin-bottom: 280px; 
    
}*/
@media (min-width: 576px) {
    #green-box{
       height: 20px;
       margin-bottom: 5px;
    }
}
@media (min-width:756px) {
    #green-box{
        height: 60px;
    }
}

#services{
    margin-bottom: 10vh;
}


#about{
    background-color: #222222;
}

div>ul>div>li{
    background-color: #222222 !important;
}
.list-group-item:first-child,
.list-group-item+.list-group-item{
    border-left: none !important;
    border-right: none !important;
    border-color: #6c757d;
}

a{
    text-decoration: none;
}

li{
    padding-left: 0 !important;
}

/*FOOTER*/
footer{
    height: 5vw;
    background-color: rgb(17, 17, 17)
}

